<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/newmemory-css.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Memory</title>
    <style>

    </style>
</head>

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo">
                <i class="fa-solid fa-camera camera"></i>
                <a href="/about"><span class="ceg">CEG</span> Confum</a>
            </div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/home">Home</a></li>
                <li><a href="/confession">Confession</a></li>
                <li><a href="/memory">Memory</a></li>
                <% if(!currentUser){ %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <% } else{ %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
                <% } %>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>

    <div class="newmemory">
        <form action="/memory" method="POST" class="valid-form" enctype="multipart/form-data">
            <div class="label">
                <label for="newplace">Enter the place</label>
            </div>
            <div class="input">
                <input type="text" name="place" id="newplace" placeholder="Enter the place" style="margin-bottom: 3px;">
                <span class="valid-feed1" style="color: tomato; font-size: 12px; display: block;"></span>
            </div>
            <div class="label">
                <label for="newdate">Enter the date</label>
            </div>
            <div class="input">
                <input type="date" name="date" id="newdate" placeholder="Enter the date" style="margin-bottom: 3px;">
                <span class="valid-feed2" style="color: tomato; font-size: 12px; display: block;"></span>
            </div>
            <div class="file-upload">
                <input class="file-upload__input" type="file" name="image" id="myFile" multiple>
                <button class="file-upload__button" type="button">Choose File(s)</button>
                <span class="file-upload__label"></span>
            </div>
            <div class="label">
                <label for="newdes">Enter your experience</label>
            </div>
            <div class="textarea-cont">
                <textarea type="text" name="description" id="newdes" placeholder="Enter your experience"></textarea>
                <span class="valid-feed3" style="color: tomato; font-size: 12px; display: block;"></span>
            </div>
            <div class="button"><button>Create</button></div>
        </form>
    </div>

    <div class="footer">
        <div class="left-footer">
            <p class="aboutf">About</p>
            <p class="summary">CCM is a intra-college social media app which is developed by our very own students for
                the
                empowerment of senior-junior bonds and most importatly to kill time.</p>
            <p class="creators">Creators</p>
            <ul class="creators-name">
                <li><a href="">Narendran</a></li>
                <li><a href="">Padma sharan</a></li>
                <li><a href="">Parithi</a></li>
            </ul>
        </div>
        <div class="right-footer">
            <p class="logof">
                <i class="fa-solid fa-camera cameraf"></i>
                <span class="ceg">CEG</span> Confum
            </p>
            <p><b>Follow us on</b></p>
            <p class="social">
                <a href="">Facebook</a>.<a href="">Instagram</a>.<a href="">Twitter</a>
            </p>
        </div>
    </div>

    <script>
        const feed1 = document.querySelector('.valid-feed1');
        const feed2 = document.querySelector('.valid-feed2');
        const feed3 = document.querySelector('.valid-feed3');
        const form = document.querySelector('.valid-form');
        const place = document.querySelector('#newplace');
        const date = document.querySelector('#newdate');
        const desc = document.querySelector('#newdes');
        const body = document.querySelector("body");
        const navbar = document.querySelector(".navbar");
        const menuBtn = document.querySelector(".menu-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        menuBtn.onclick = () => {
            navbar.classList.add("show");
            menuBtn.classList.add("hide");
            body.classList.add("disabled");
        }
        form.addEventListener('submit', (e) => {
            if (!desc.value || desc.value.length < 3) {
                e.preventDefault();
                desc.style.border = '2px solid tomato';
                feed3.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Input must be atleast 3 characters long!'
            }
        })
        form.addEventListener('submit', (e) => {
            if (!place.value || place.value.length < 2) {
                e.preventDefault();
                place.style.border = '2px solid tomato';
                feed1.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Input must be atleast 2 characters long!'
            }
        })
        form.addEventListener('submit', (e) => {
            if (!date.value) {
                e.preventDefault();
                date.style.border = '2px solid tomato';
                feed2.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Date is required!';
            }
        })
        cancelBtn.onclick = () => {
            body.classList.remove("disabled");
            navbar.classList.remove("show");
            menuBtn.classList.remove("hide");
        }
        window.onscroll = () => {
            this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
        }
        Array.prototype.forEach.call(
            document.querySelectorAll(".file-upload__button"),
            function (button) {
                const hiddenInput = button.parentElement.querySelector(
                    ".file-upload__input"
                );
                const label = button.parentElement.querySelector(".file-upload__label");
                const defaultLabelText = "No file(s) selected";
                label.textContent = defaultLabelText;
                label.title = defaultLabelText;

                button.addEventListener("click", function () {
                    hiddenInput.click();
                });

                hiddenInput.addEventListener("change", function () {
                    const filenameList = Array.prototype.map.call(hiddenInput.files, function (
                        file
                    ) {
                        return file.name;
                    });

                    label.textContent = 'Your files are selected!';
                    label.title = label.textContent;
                });
            }
        );
    </script>

</body>

</html>