@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");


body{
  background: url('../images/whitebg.jpg') top/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.h2 p{
  margin-bottom: 0;
}
.snip1336 {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 600px;
    color: #fff;
    text-align: left;
    line-height: 1.4em;
    background-color: #fff;
  }
.image-profile{
    height: 450px;
    width: 600px;
}
  .snip1336 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .snip1336 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.85;
  }
  .snip1336 figcaption {
    width: 100%;
    background-color: #1b1b1b;
    padding: 25px;
    position: relative;
  }
  .snip1336 figcaption:before {
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 55px 0 0 400px;
    border-color: transparent transparent transparent #1b1b1b;
  }
  .snip1336 figcaption a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .snip1336 figcaption a:hover {
    background-color: rgb(248, 248, 248);
    color: black;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .snip1336 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 25px;
    z-index: 1;
    max-width: 90px;
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .snip1336 .follow {
    margin-right: 4%;
    border-color: #2980b9;
    color: #2980b9;
  }
  .snip1336 h2 {
    margin: 0 0 5px;
    font-weight: 300;
  }
  .snip1336 h2 span {
    display: block;
    font-size: 0.5em;
    color: #2980b9;
  }
  .snip1336 p {
    margin: 0 0 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    opacity: 0.8;
  }
  .profile-description{
    border: 2px solid #3f3f3f;
    padding: 10px;
    border-radius: 5px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  ::selection{
    background: rgb(0,123,255,0.3);
  }
  .content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar{
    position: static;
    background-color: #222;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  .navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: #007bff;
  }
  .ceg{
    color: rgb(255, 255, 136);
    border-radius: 5px;
    padding: 0 5px;
  }
  .camera{
    font-size: 32px;
    margin-right: 5px;
  }
  .camerf{
    font-size: 55px;
  }
  .logo{
    display: flex;
    flex-direction: row;
    color: #fff;
  }
  .about{
    padding: 30px 0;
  }
  .about .title{
    font-size: 38px;
    font-weight: 700;
  }
  .about p{
    padding-top: 20px;
    text-align: justify;
  }
  .icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  .features{
    margin-top: 25px;
  }
  .feature{
    border-left: 1px solid rgb(128,128,128,0.75);
    border-right: 1px solid rgb(128,128,128,0.75);
    display: flex;
    box-shadow: 5px 10px 18px #9c9c9c;
    max-width: 450px;
    padding: 0 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ficon-container{
    margin: 20px 0;
  }
  .features-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ficon{
    display: block;
    font-size: 55px;
  
  }
  .feature-para{
    font-size: 20px;
    line-height: 1.6;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .fbtn{
    margin: 20px 0;
    height: 45px;
    width: 125px;
    background-color: #131518;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  .fbtn:hover{
    background-color: #060607;
    cursor: pointer;
  }
  .footer{
    background-color: #222;
    color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 10px 30px;
  }
  .logof{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40px;
  }
  .left-footer{
    width: 65%;
  }
  .right-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-left: 2px solid white;
  }
  .social{
    margin-top: 12px;
  }
  .social a{
    color: white;
    text-decoration: none;
  }
  .social a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .aboutf{
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .summary{
    margin-top: 15px;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  .creators{
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .creators-name{
    margin-top: 10px;
  }
  .creators-name li{
    margin-top: 5px;
  }
  .creators-name li a{
    color: white;
    text-decoration: none;
  }
  .creators-name li a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }
  .success{
    opacity: 1;
    transition: opacity 0.45s;
    background-color: rgba(167, 250, 0, 0.746);
    width: 700px;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
  }
  .alert {
    opacity: 1;
    transition: opacity 0.45s;
    width: 700px;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f3392cc7;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .main-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

.container{
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin: 0 15px 30px 15px;
  background-color: #e9ecef;
  margin-right: 25px;
}

.mem-place{
  padding: 5px 10px;
  border: 1px solid grey;
  border-top: none;
}
.mem-des{
  padding: 5px 10px;
  border: 1px solid grey;
  border-top: none;
}
.mem-des a{
color: black;
text-decoration: none;
}
.mem-des a:hover{
text-decoration: underline;
}
.mem-date{
  padding: 5px 10px;
  border: 1px solid grey;
  border-top: none;
}
.mem-links{
  padding: 5px 10px;
  border: 1px solid grey;
  border-top: none;
}
.mem-links a{
  margin-right: 7px;
  font-size: 12px;
  text-decoration: none;
  color: #1d6577;
}
.mem-links a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.image-mem{
 height: 200px;
  width: 250px;
  max-width: 250px;
  max-height: 200px;
  object-fit: fill;
  display: block;
}

.memory-section{
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(0.25turn,rgb(250, 250, 250),rgb(194, 194, 194));
}
.memory-section h3{
  padding: 15px;
  font-size: 25px;
  letter-spacing: 1px;
  color: #272727;
}
.flex {
  display: flex;
}

.item-con {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.item {
  width: 700px;
  overflow: hidden;
  border-radius: 0.375rem;
  background: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  box-shadow: 0px 8px 9px #00000030;
}

.item figure {
  display: flex;
  height: 21rem;
  width: 100%;
  place-items: center;
  justify-content: center;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.item figure img {
  width: 700px;
  height: 350px;
  max-width: 700px;
  height: auto;
  object-fit: cover;
  display: block;
  /* vertical-align: middle; */
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.item figure img:hover {
  filter: saturate(0.05)
}

.item .tag {
  position: absolute;
  z-index: 10;
  transform: translateX(1rem) translateY(1rem);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0.125rem;
  background-color: rgb(45, 75, 240);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  color: white;
}

.this-meta {
  padding: .75rem;
}

.this-meta h2 {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(51, 51, 51);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 2; */
}
.btn12{
  margin: 15px;
}
.this-meta h2:hover {
  color: black;
}

.b-con {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.b-con .bc-item {
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(34, 46, 57);
  text-align: right;
}

.b-con .bc-item:hover {
  color: black;
}

.bc-item.author,
put-stamp {
  margin-right: 1.5rem;
}

.author-name {
  color: rgb(34, 46, 57);
}

.b-con .bi {
  margin-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer
}

.share-post {
  margin: 0;
}
.this-meta a{
  text-decoration: none;
}
.confession-section{
  margin-top: 35px;
  width: 100%;
  padding: 0 5px;
  background: linear-gradient(0.25turn,rgb(250, 250, 250),rgb(194, 194, 194));
}
.confession-section h3{
  padding: 15px;
  font-size: 25px;
  letter-spacing: 1px;
  color: #272727;
}
  